﻿@Html.AntiForgeryToken()

@model IEnumerable<BazaLekow_BAS.Models.ViewModel.IngredientSmallViewModel>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/Ingredients.js")
}

<script>
    var MvcModel = @Html.Raw(Json.Encode(Model));
</script>

<h2>Substancje</h2>


<div ng-controller="IngredientsController as vm">

    <table class="tableData">
        <tr>
            <input type="text" placeholder="Szukaj substancji" ng-model="search.Name" />
            <button  ng-show="vm.tmp" ng-click="removeTmpData()">Przywróć wszystkie substancje</button>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
        </tr>
        <tr ng-show="!vm.tmp" ng-repeat="d in vm.model | filter : search | orderBy:'Name'" ng-click="getData()">
            <td>{{d.Name}}</td>
            <td>{{d.Description | limitTo:100:begin}}...</td>
        </tr>

        <tr ng-show="vm.tmp" ng-repeat="a in vm.tmp | filter : search | orderBy:'Name'" ng-click="getTmpData()">
            <td>{{a.Name}}</td>
            <td>{{a.Description | limitTo:100:begin}}...</td>
        </tr>

    </table>

    <div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <table class="tableDataDetail">
                    <tr><td>Nazwa: </td></tr>
                    <tr><td> {{drugData.Name}}</td></tr>

                    <tr><td>Działanie:</td></tr>
                    <tr><td>{{drugData.Data.Effects}}</td></tr>

                    <tr><td>Wskazania:</td></tr>
                    <tr><td>{{drugData.Data.Indications}}</td></tr>

                    <tr><td>Przeciwwskazania:</td></tr>
                    <tr><td> {{drugData.Data.Contradictions}}</td></tr>

                    <tr><td> Interakcje:</td></tr>
                    <tr><td>{{drugData.Data.Interactions}}</td></tr>

                    <tr><td>Działania niepożądane:</td></tr>
                    <tr><td>{{drugData.Data.Side_effects}}</td></tr>

                    <tr><td>Ciąża i laktacja:</td></tr>
                    <tr><td>{{drugData.Data.Pregnancy}}</td></tr>

                    <tr><td>Dawkowanie:</td></tr>
                    <tr><td>{{drugData.Data.Dosage}}</td></tr>

                    <tr><td>Uwagi:</td></tr>
                    <tr><td>{{drugData.Data.Comments}}</td></tr>

                    <tr><td> Inne:</td></tr>
                    <tr><td>{{drugData.Data.Other}}</td></tr>

                    <tr>
                        <td>
                            <button ng-click="closeModal()">Zamknij</button>
                            <button ng-click="createDrugsData()">Wyświetl leki</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

