﻿@Html.AntiForgeryToken()

@model IEnumerable<BazaLekow_BAS.Models.ViewModel.IngredientSmallViewModel>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/IngredientsAdmin.js")
}

<script>
    var MvcModel = @Html.Raw(Json.Encode(Model));
</script>

<h2>Substancje</h2>


<div ng-controller="IngredientsAdminController as vm">

    <table class="tableData">
        <tr>
            <input type="text" placeholder="Szukaj substancji" ng-model="search.Name" />
            <button ng-click="openModal()">Dodaj substancję</button>
            
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Opcje
            </th>
        </tr>
        <tr ng-repeat="d in vm.model | filter : search | orderBy:'Id'">
            <td>{{d.Name}}</td>
            <td>{{d.Description | limitTo:100:begin}}...</td>
            <td>
                <button ng-click="detailsIngredient()">Edytuj</button>
                <button ng-click="deleteIngredient()">Usuń</button>
            </td>
        </tr>

    </table>

    <div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <table class="tableDataDetail">
                    <tr><td>Nazwa: </td></tr>
                    <tr><td><textarea ng-model="Ing.Name"></textarea></td></tr>

                    <tr><td>Działanie:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Effects"></textarea></td></tr>

                    <tr><td>Wskazania:</td></tr>
                    <tr><td ><textarea ng-model="Ing.Data.Indications"></textarea></td></tr>

                    <tr><td>Przeciwwskazania:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Contradictions"></textarea> </td></tr>

                    <tr><td> Interakcje:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Interactions"></textarea></td></tr>

                    <tr><td>Działania niepożądane:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Side_effects"></textarea></td></tr>

                    <tr><td>Ciąża i laktacja:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Pregnancy"></textarea></td></tr>

                    <tr><td>Dawkowanie:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Dosage"></textarea></td></tr>

                    <tr><td>Uwagi:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Comments"></textarea></td></tr>

                    <tr><td> Inne:</td></tr>
                    <tr><td><textarea ng-model="Ing.Data.Other"></textarea></td></tr>

                    <tr>
                        <td>
                            <button ng-show="!isEdit" ng-click="addIngredient()">Zatwierdź</button>
                            <button ng-show="isEdit" ng-click="editIngredient()">Zatwierdź</button>
                            <button ng-click="closeModal()">Zamknij</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

