﻿<a type="button"
   class="btn"
   href="#article-editor"
   data-toggle="modal">Click me</a>

<div class="modal fade" id="article-editor" ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Title of the form</h3>
    </div>
    <div class="modal-body">
        <p>Body of the form</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
    </div>
</div>
<link rel="stylesheet"
      href="@Url.Content("~/Content/Styles/bootstrap.min.css")"></link>
<link rel="stylesheet"
      href="@Url.Content("~/Content/Styles/bootstrap-responsive.min.css")"></link>

<style>
    #container .modal.fade {
        left: -25%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

        #container .modal.fade.in {
            left: 50%;
        }
        #container .modal-body {
        max-height: 50px;
    }
        #article-editor {
    width: 600px;
    margin-left: -300px;
    margin-right: -300px;
}
</style>



@*<h2>Welcome</h2>
<div style="padding:0 10px; margin:10px; border:10px solid #f3f3f3; clear:both;">
    <ng-view></ng-view>
</div>

@section scripts{
    <script src="~/Scripts/AngularControllers/Drugs.js"></script>
    <script src="~/Scripts/AngularControllers/Login.js"></script>
}

<div>
    <ul class="menu">
        <li><a href="#!/home">Home</a></li>
        <li><a href="#!/drugs">Drugs</a></li>
        <li><a href="#!/ingredients">Ingredients</a></li>
        <li><a href="#!/login">Login</a></li>
    </ul>
</div>



@section scripts{
    <script src="~/Scripts/AngularControllers/Routing.js"></script>
}*@

@*<div ng-controller="HomeController">
    {{Message}}
</div>

<div class="container">
    <br/>
    <br/>
    <input type="text" placeholder="SearchAdmin" ng-model="searchAdmin" />
    <br/>
    <div ng-controller="AdminController">
        <table class="table">
            <tr ng-repeat="r in admins.data | filter : searchAdmin">
                <td>{{r.id}}</td>
                <td>{{r.username}}</td>
                <td>{{r.password}}</td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/AngularControllers/Admins.js"></script>
}*@