﻿@Html.AntiForgeryToken()

@model IEnumerable<BazaLekow_BAS.Models.ViewModel.AdminViewModel>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/Admins.js")
}

<script>
    var MvcModel = @Html.Raw(Json.Encode(Model));
</script>

<h2>Administratorzy</h2>

<div ng-controller="AdminController as vm">
    <table class="tableData">
        <tr>
            <input type="text" placeholder="Szukaj administratora" ng-model="search.Username" />
            <button ng-click="openModal()">Dodaj administratora</button>
            <th>
                Nazwa administratora
            </th>
        </tr>
        <tr ng-repeat="d in vm.model | filter : search | orderBy:'Id'">
            <td colspan="0">{{d.Username}}</td>
            <td ng-show="d.Id != 0"><button ng-click="detailsAdmin()">Edytuj</button><button ng-click="deleteAdmin()">Usuń</button></td>
        </tr>

    </table>

    <div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <table class="tableDataDetail">
                    <tr><td>Nazwa użytkownika:</td></tr>
                    <tr><td><input ng-model="Admin.Username" type="text" value="{{isEdit ? data.Username : ''}}"/>{{sameName ? '  '+sameName : empty ?  '  '+ 'Pole jest wymagane': '' }}</td></tr>
                    <tr><td>Hasło:</td></tr>
                    <tr><td><input ng-model="Admin.Password" type="password" value="" />{{empty ? 'Pole jest wymagane' : '' }}</td></tr>
                    <tr><td>
                        <button ng-show="!isEdit" ng-click="addAdmin()">Zatwierdź</button>
                        <button ng-show="isEdit" ng-click="editAdmin()">Zatwierdź</button>
                        <button ng-click="closeModal()">Zamknij</button>
                    </td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

