﻿@Html.AntiForgeryToken()

@model IEnumerable<BazaLekow_BAS.Models.ViewModel.DrugSmallViewModel>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/Drugs.js")
}

<script>
    var MvcModel = @Html.Raw(Json.Encode(Model));
</script>

<h2>Leki</h2>

<div ng-controller="DrugsController as vm">

    <table class="tableData" >
        <tr>
            <input type="text" placeholder="Szukaj leku" ng-model="search.Name" />
            <button ng-show="vm.tmp" ng-click="removeTmpData()">Przywróć wszystkie leki</button>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
        </tr>
        <tr ng-show="!vm.tmp" ng-repeat="d in vm.model | filter : search | orderBy:'Name'" ng-click="getData()">
            <td>{{d.Name}}</td>
            <td>{{d.Description ? d.Description : d.Data.Other | limitTo:100:begin}}...</td>
        </tr>
        <tr ng-show="vm.tmp" ng-repeat="a in vm.tmp | filter : search | orderBy:'Name'" ng-click="getTmpData()">
            <td>{{a.Name}}</td>
            <td>{{a.Description ? a.Description : a.Other | limitTo:100:begin}}...</td>
        </tr>

    </table>

    <div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <table class="tableDataDetail">
                    <tr><td>Co to jest {{drugData.Name}}?:</td></tr>
                    <tr><td>{{drugData.Data.Description}}</td></tr>

                    <tr><td>Co zawiera i jak działa {{drugData.Name}}?: </td></tr>
                    <tr><td> {{drugData.Data.Ingredients_effect}} </td></tr>

                    <tr><td> Kiedy stosować {{drugData.Name}}?: </td></tr>
                    <tr><td> {{drugData.Data.Use}} </td></tr>

                    <tr><td> Kiedy nie stosować {{drugData.Name}}?:</td></tr>
                    <tr><td>  {{drugData.Data.Dont_use}}</td></tr>

                    <tr><td> Kiedy zachować szczególną ostrożność stosując {{drugData.Name}}?:</td></tr>
                    <tr><td> {{drugData.Data.Caution}}</td></tr>

                    <tr><td> Dawkowanie preparatu {{drugData.Name}}?:</td></tr>
                    <tr><td> {{drugData.Data.Dosage}}</td></tr>

                    <tr><td> Czy można stosować {{drugData.Name}} w okresie ciąży i karmienia piersią?:</td></tr>
                    <tr><td> {{drugData.Data.Pregnant}}</td></tr>

                    <tr><td> Czy mogę stosować równolegle inne preparaty?:</td></tr>
                    <tr><td> {{drugData.Data.Interactions}}</td></tr>

                    <tr><td> Jakie działania niepożądane mogą wystąpić?:</td></tr>
                    <tr><td> {{drugData.Data.Side_effects}}</td></tr>

                    <tr><td>Inne: </td></tr>
                    <tr><td>{{drugData.Data.Other}}</td></tr>
                    
                    <tr><td>Produkty: </td></tr>
                    <tr>
                        <td>
                            <table class="tableDataProduct" >
                                <tr><td>Nazwa </td><td>Postać; dawka; opakowanie;</td><td>Producent</td><td>Cena 100%</td><td>Cena po refundacji</td></tr>
                                <tr ng-repeat="p in drugData.Products"><td>{{drugData.Name | limitTo:20:begin}}</td><td>{{p.Shape}}; {{p.Dose}}; {{p.Package}}</td><td>{{p.Manufacturer}}</td><td>{{p.Full_price}}</td><td>{{p.Refunded_price}}</td></tr>
                            </table>
                        </td>
                    </tr>

                    <tr><td>Substancje: </td></tr>
                    <tr>
                        <td>
                            <table style="width:100%" class="tableDataProduct" ng-repeat="p in drugData.Ingredients" >
                                <tr ><td>{{p.Name}}</td></tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button ng-click="closeModal()">Zamknij</button>
                            <button ng-click="createIngredientsData()">Wyświetl substancje</button>
                            <button ng-click="createDrugsData()">Wyświetl podobne leki</button>
                        </td>
                    </tr>



                </table>
            </div>
        </div>
    </div>
</div>

