﻿@Html.AntiForgeryToken()

@model IEnumerable<BazaLekow_BAS.Models.ViewModel.DrugSmallViewModel>

@section scripts{
    @Scripts.Render("~/Scripts/AngularControllers/DrugsAdmin.js")
    @Scripts.Render("~/Scripts/AngularControllers/IngredientsAdmin.js")
}

<script>
    var MvcModel = @Html.Raw(Json.Encode(Model));
</script>

<h2>Leki</h2>

<div ng-controller="DrugsAdminController as vm">

    <table class="tableData">
        <tr>
            <input type="text" placeholder="Szukaj leku" ng-model="search.Name" />
            <button ng-click="openModal()">Dodaj lek</button>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Opcje
            </th>
        </tr>
        <tr ng-repeat="d in vm.model | filter : search | orderBy:'Id'">
            <td>{{d.Name}}</td>
            <td>{{d.Description ? d.Description : d.Data.Other | limitTo:100:begin}}...</td>
            <td>
                <button ng-click="detailsDrug()">Edytuj</button>
                <button ng-click="deleteDrug()">Usuń</button>
            </td>
        </tr>

    </table>

    <div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <table class="tableDataDetail">
                    <tr><td>Co to jest {{drugData.Name}}?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Name"></textarea></tr>
                    
                    <tr><td>Opis {{drugData.Name}}: </td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Description"></textarea> </td></tr>

                    <tr><td>Co zawiera i jak działa {{drugData.Name}}?: </td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Ingredients_effect"></textarea> </td></tr>

                    <tr><td> Kiedy stosować {{drugData.Name}}?: </td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Use"></textarea></td></tr>

                    <tr><td> Kiedy nie stosować {{drugData.Name}}?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Dont_use"></textarea></td></tr>

                    <tr><td> Kiedy zachować szczególną ostrożność stosując {{drugData.Name}}?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Caution"></textarea></td></tr>

                    <tr><td> Dawkowanie preparatu {{drugData.Name}}?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Dosage"></textarea></td></tr>

                    <tr><td> Czy można stosować {{drugData.Name}} w okresie ciąży i karmienia piersią?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Pregnant"></textarea></td></tr>

                    <tr><td> Czy mogę stosować równolegle inne preparaty?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Interactions"></textarea></td></tr>

                    <tr><td> Jakie działania niepożądane mogą wystąpić?:</td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Side_effects"></textarea></td></tr>

                    <tr><td>Inne: </td></tr>
                    <tr><td><textarea ng-model="Drug.Data.Other"></textarea></td></tr>

                    <tr><td>Produkty: </td></tr>
                    <tr>
                        <td>
                            <table class="tableDataProduct">
                                <button ng-click="addProduct()">Dodaj produkt</button>
                                <tr><td>Nazwa </td><td>Postać; dawka; opakowanie;</td><td>Producent</td><td>Cena 100%</td><td>Cena po refundacji</td><td>Opcje</td></tr>
                                <tr ng-repeat="p in drugData.Products">
                                    <td>
                                        {{drugData.Name | limitTo:20:begin}}
                                    </td>
                                    <td>
                                        <input type="text" ng-model="Drug.Products[$index].Shape" value="{{p.Shape}}"/>
                                        <input type="text" ng-model="Drug.Products[$index].Dose" value="{{p.Dose}}"/>
                                        <input type="text" ng-model="Drug.Products[$index].Package" value="{{p.Package}}"/>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="Drug.Products[$index].Manufacturer" value="{{p.Manufacturer}}"/>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="Drug.Products[$index].Full_price" value="{{p.Full_price}}"/>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="Drug.Products[$index].Refunded_price" value="{{p.Refunded_price}}"/>
                                    </td>
                                    <td>
                                        <button ng-click="removeProduct()">Usuń</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr><td>Substancje: </td></tr>
                    <tr>
                        <td>
                            <button ng-click="addIngredient()">Dodaj substancję</button>
                            <table style="width:100%" class="tableDataProduct" ng-repeat="p in drugData.Ingredients">
                                <tr>
                                    <td>
                                        <div>
                                            <input type="text" ng-model="Drug.Ingredients[$index].Name" placeholder="{{p.Name}}" uib-typeahead="p.Name for p in vm.Ingredients | filter:{Name:$viewValue}" typeahead-template-url="customTemplate.html" typeahead-min-length="0">
                                        </div>
                                    </td>
                                    
                                    <td><button ng-click="removeIngredient()">Usuń</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button ng-show="!isEdit" ng-click="addDrug()">Zatwierdź</button>
                            <button ng-show="isEdit" ng-click="editDrug()">Zatwierdź</button>
                            <button ng-click="closeModal()">Zamknij</button>
                        </td>
                    </tr>



                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>